<div class="container-sm" style="text-align: justify; width: 60vw">
  <div class="fs-2 d-flex justify-content-center">
    Azul: Summer Pavilion - Liệu có vượt qua được người tiền nhiệm?
  </div>
  <div class="d-flex justify-content-start mb-3">Đăng ngày 20/11/2021</div>
  <div class="d-flex justify-content-center mb-3" style="height: 400px">
    <img src="/img/azur1.jpg" alt="intro" class="img-fluid" />
  </div>

  <div class="mb-3">
    Ngay khi nhìn vào hình ảnh hộp game, có lẽ mọi người đều nhận ra tên tựa
    game quen thuộc: Azul. Azul là chủ nhân của giải thưởng game hay nhất năm
    2018, Spiel Des Jahres, và chắc hẳn phần lớn những người chơi board game đều
    đã thử qua trò chơi tuyệt vời này.
  </div>
  <div class="mb-3">
    Azul Summer Pavilion là game thứ 3 trong series Azul, sau Azul và Azul
    Stained Glass of Sintra. Một tốc độ ra game khá đều đặn đến từ Next Move
    Games. Và vẫn giữ bối cảnh cũ của cả series, câu chuyện của game vẫn là bạn
    hóa thân thành một kiến trúc sư được giao phó xây dựng những cảnh quan tráng
    lệ cho cung điện, và lần này là dưới yêu cầu của vua Manuel tại Bồ Đào Nha
    vào thế kỉ 16, một khung cảnh nhằm vinh danh những người thuộc hoàng tộc.
  </div>
  <div class="mb-3">
    Nếu như Azul Stained Glass of Sintra không thể tái lập kỳ tích của Azul, vậy
    liệu chúng ta có thể mong chờ những gì tại đứa con thứ 3 này của hãng? Hãy
    cùng nhìn sâu hơn
  </div>
  <div class="ms-3 text-primary fs-5 mb-3">1. Thành phần</div>
  <div class="mb-3">
    Nếu như người đi trước Stained Glass of Sintra bị người chơi phàn nàn về các
    mảnh nhựa trong suốt, thì nay đã quay trở lại với chất liệu nhựa giả gạch
    như Azul gốc. Và khác với 2 người tiền nhiệm với những viên gạch vuông vức,
    thì lần này đã là những viên gạch hình kim cương, vừa tạo nên sự sang trọng
    cho game, vừa đem đến những trải nghiệm mới mẻ.
  </div>
  <div class="d-flex justify-content-center mb-3">
    <img src="/img/azur2.png" alt="intro2" class="img-fluid" />
  </div>

  <div class="mb-3">
    Bàn chơi bản này vẫn giữ được chất liệu dày dặn, và màu sắc cũng tươi tắn,
    tập trung hơn chứ ko bị rối mắt như Azul Stained Glass of Sintra.
  </div>
  <div class="d-flex justify-content-center mb-3">
    <img src="/img/azur3.png" alt="intro3" class="img-fluid" />
  </div>
  <div class="mb-3">
    Ở bản này chúng ta cũng sẽ có thêm 1 khay để đựng những title bị bỏ đi, giúp
    người chơi quản lý thành phần tốt hơn (chắc không ít bạn đã liên tưởng đến
    tháp đồng hồ Big Ben khi nhìn thấy ảnh này phải không nào). Cùng với đó là
    token cho người đi đầu cũng được làm theo hình dạng kim cương giống như các
    mảnh gạch khác.
  </div>
  <div class="d-flex justify-content-center mb-3">
    <img src="/img/azur4.png" alt="intro4" class="img-fluid" />
  </div>
  <div class="mb-3">
    Và thứ không thể không nhắc đến chính là một chiếc túi xinh xắn mang màu sắc
    tươi sáng, sử dụng để rút các miếng gạch giống như các phiên bản trước đó.
  </div>
  <div class="d-flex justify-content-center mb-3">
    <img src="/img/azur5.png" alt="intro5" class="img-fluid" />
  </div>
  <div class="mb-3">
    Về tổng quan mà nói, với những thành phần được giới thiệu, khó có thể có một
    điểm trừ nào dành cho Azul Summer Pavilion, trừ khi bạn là một người không
    thích sự sặc sỡ màu mè.
  </div>
  <div class="d-flex justify-content-center mb-3">
    <img src="/img/azur6.png" alt="intro6" class="img-fluid" />
  </div>
  <div class="ms-3 text-primary fs-5 mb-3">2. Đánh giá</div>
  <div class="mb-3">
    Với việc các tile có khu vực dự trữ (ở 4 góc của bàn người chơi), chúng ta
    sẽ có thêm nhiều toan tính trong chiến thuật chơi. Và giờ đây mỗi miếng gạch
    cũng có nhiều hơn lựa chọn để đặt thay vì chỉ ở hàng ngang hay cột dọc như
    trước đây, giúp cho việc lắp sẽ được đa dạng hơn.
  </div>
  <div class="mb-3">
    Và việc có wildtile có thể đặt ở bất kỳ đâu sẽ khiến cho vai trò của token
    đi đầu sẽ quan trọng hơn, và người chơi sẽ cần cân nhắc nên dừng ở thời điểm
    nào để lấy token đi trước (việc đi trước không quá quan trọng trong 2 bản
    trước).
  </div>
  <div class="mb-3">
    Thành phần của game vẫn giữ được chất liệu tốt như những người đi trước,
    cùng với thay đổi tile hình kim cương, lắp thành các khối hình sao tạo hình
    mới mẻ hấp dẫn với người chơi.
  </div>

  <div class="ms-3 text-primary fs-5 mb-3">3. Tổng kết</div>
  <div class="mb-3">
    Sẽ thật khó để Azul Summer Pavilion vượt qua được cái bóng quá lớn của Azul,
    và đến thời điểm này, game cũng mới chỉ nhận được 1 đề cử cho giải game gia
    đình hay nhất, nhưng không vì thế mà phủ nhận những điểm mới mẻ mà Summer
    Pavilion mang lại, cũng như những sáng tạo của Kiesling dành cho tựa game
    này.
  </div>
  <div class="mb-3">
    Nếu bạn là fan của series Azul hoặc chưa có cơ hội chơi qua các tựa Azul,
    thì Summer Pavilion sẽ là một tựa game rất đáng sở hữu. Hay nếu bạn đang tìm
    kiếm một game đối kháng nhẹ nhàng, thì Azul Summer Pavilion cũng là một sự
    lựa chọn phù hợp.
  </div>
  <div class="mb-3">
    Hãy thử ngay game để có những trải nghiệm đánh giá cho riêng mình nhé!
  </div>
  <div class="mb-3">
    Đặt mua ngay tại: <a href="/product-detail?id=5">Azul</a>
  </div>
  <div>Duy</div>
</div>

<br />
