<div class="container-sm" style="text-align: justify; width: 60vw">
  <div class="fs-2 d-flex justify-content-center">
    Thổi Bay Nhàm Chán Cùng Siêu Thú Ngân Hà Khi Ở Nhà Mùa Dịch
  </div>
  <div class="d-flex justify-content-center mb-3">Đăng ngày 15/11/2021</div>
  <div class="d-flex justify-content-center mb-3 fs-4 text-center">
    THỔI BAY NHÀM CHÁN CÙNG SIÊU THÚ NGÂN HÀ KHI Ở NHÀ MÙA DỊCH BẠN ĐÃ SẴN SÀNG?
  </div>

  <div class="mb-3">
    Giữa mùa dịch Covid-19 phức tạp, ở trong nhà là một trong những khuyến cáo
    được đưa ra nhằm ngăn chặn dịch bệnh lây lan.
  </div>
  <div class="mb-3">
    Tuy nhiên, quả là chán khi bị trói chân ở nhà? Thật khó mà giữ cho mình bận
    rộn hoặc hứng thú khi bạn chẳng thể đi đâu. Đặc biệt là với trẻ em, ở độ
    tuổi hiếu động muốn khám phá thế giới mà phải ở nhà trong trong 1 thời gian
    dài chắc chắn sẽ gây ra tâm lý căng thẳng và chán chường.
  </div>
  <div class="d-flex justify-content-center mb-3" style="height: 400px">
    <img src="/img/sieuthu1.jpg" alt="intro" class="img-fluid" />
  </div>

  <div class="mb-3">
    Trên cương vị là người bạn đồng hành tuổi thơ, đội ngũ Siêu Thú Ngân Hà hiểu
    được tâm trạng này của của các bạn nhỏ và sự lo lắng của ba mẹ hơn ai hết.
  </div>

  <div class="mb-3">
    Với mong muốn tiếp thêm "vitamin" cho hàng triệu gia đình Việt cũng như sát
    cánh cùng Việt Nam chiến thắng Covid-19, chúng mình xin gửi tặng chiếc khẩu
    trang siêu thú phiên bản giới hạn kèm mỗi đơn hàng đặt mua board game Siêu
    Thú Ngân Hà. Chương trình sẽ diễn ra từ 20/04 - 15/05
  </div>
  <div class="mb-3">
    Món quà nhỏ này tượng trưng cho lời nhắc nhở của chúng mình đến các bạn nhỏ:
    Luôn phải ghi nhớ việc bảo vệ sức khỏe bản thân và những người xung quanh,
    luôn có khẩu trang bên cạnh khi phải ra đường trong mùa dịch.
  </div>

  <div class="mb-3">
    Đồng thời, món quà cũng là lời cảm ơn, lời cổ vũ tiếp thêm sức mạnh của đội
    ngũ Siêu Thú gửi tới các gia đình đã ủng hộ và yêu thương chúng mình trong
    suốt thời gian qua.
  </div>

  <div class="mb-3">
    Dù chỉ mới ra mắt từ cuối năm 2019, board game made in Việt Nam Siêu Thú
    Ngân Hà đã tạo ra cơn sốt yêu thích trong giới trẻ và hàng trăm nghìn gia
    đình. Với cốt truyện nhập vai phiêu lưu kỳ thú, chuyển thể từ bộ truyện Lớp
    Học Mật Ngữ - #1st best seller Fahasa 4 năm liên tiếp, bộ trò chơi nhanh
    chóng thu về chuỗi thành tích ấn tượng
  </div>

  <div class="mb-3 fw-bold">#1 bán chạy Đồ chơi - Mẹ bé Tiki mùa Tết 2020</div>
  <div class="mb-3 fw-bold">#1 Trò chơi gia đình bán chạy Fahasa Tết 2020</div>

  <div class="d-flex justify-content-center mb-3">
    <img src="/img/sieuthu5.jpg" alt="intro5" class="img-fluid" />
  </div>

  <div class="mb-3">
    Cùng với đó bộ game cũng sở hữu 1 cộng đồng fan trên khắp toàn quốc, nhận
    được cơn mưa lời khen đến từ các bậc phụ huynh, review cao từ các youtuber
    nổi tiếng như Toy Station.
  </div>
  <div class="mb-3">
    Vượt qua mọi giới hạn tuổi tác, Siêu Thú Ngân Hà kết nối tất cả các thành
    viên gia đình như anh chị ông bà ba mẹ… ngồi gần lại cùng nhau, hiểu nhau
    qua những chuyến phiêu lưu thần thoại. Không giống như bộ trò chơi thông
    thường, ngoài việc giúp người chơi xả hơi đầy sảng khoái sau ngày dài, Siêu
    Thú Ngân Hà còn là học cụ phát triển tư duy và trí tưởng tượng tuyệt vời cho
    các bạn trẻ.
  </div>
  <div class="d-flex justify-content-center mb-3">
    <img src="/img/sieuthu6.jpg" alt="intro6" class="img-fluid" />
  </div>
  <div class="mb-3">
    Tham khảo thêm thông tin về lợi ích của Siêu Thú Ngân Hà với trẻ em tại
    <a href="/news/loiich">Đây</a>
  </div>
  <class class="mb-3">
    Hi vọng những thông tin trên sẽ giúp bạn hiểu thêm về bộ trò chơi tuyệt diệu
    này và tận hưởng khoảng thời gian ở nhà cùng gia đình thật ý nghĩa!!
  </class>
  <div class="mt-3">Quang</div>
</div>

<br />
