<div class="container-sm" style="text-align: justify; width: 60vw">
  <div class="fs-2 d-flex justify-content-center">
    Studio Của Tháng: SPACE Cowboys - T.I.M.E Stories
  </div>
  <div class="d-flex justify-content-center mb-3">Đăng ngày 18/11/2021</div>
  <div class="d-flex justify-content-center mb-3" style="height: 400px">
    <img src="/img/space1.png" alt="intro" class="img-fluid" />
  </div>

  <div class="mb-3">
    Tiếp tục với series Studio của tháng, hôm nay chúng ta sẽ cùng tìm hiểu qua
    một series vô cùng hấp dẫn tiếp theo của Space Cowboys: T.I.M.E Stories.
    Đúng như cái tên của nó, các câu chuyện thời gian, và có lẽ các bạn cũng đã
    đoán ra phần nào về gameplay phải không? Chính là một concept xuất hiện
    trong game Anachrony và là cảm hứng cho rất nhiều bộ phim: du hành thời
    gian.
  </div>
  <div class="mb-3">
    T.I.M.E Stories là trò chơi thuộc dạng chơi đồng đội theo nhóm dành cho 2-4
    người chơi, hành trình khám phá và giải đố. Tại đây, những người chơi sẽ
    nhận những nhiệm vụ từ Boss, quay ngược về quá khứ để thực hiện những nhiệm
    vụ trong thời gian cho phép.
  </div>
  <div class="d-flex justify-content-center mb-3" style="height: 400px">
    <img src="/img/space2.png" alt="intro" class="img-fluid" />
  </div>
  <div class="mb-3">
    Giống như Arkham Horror, mỗi nhân vật mà người chơi lựa chọn khi quay lại
    quá khứ cũng sẽ có những chỉ số nhất định, được sử dụng để tìm kiếm những
    manh mối, chiến đấu, thực hiện nhiệm vụ. Và mỗi nhân vật đều sẽ tỏ ra hữu
    dụng hơn trong những hoàn cảnh nhất định, người chơi sẽ cần đưa ra những lựa
    chọn đúng đắn để có thể có những chuyến hành trình dễ thở hơn.
  </div>
  <div class="d-flex justify-content-center mb-3">
    <img src="/img/space3.webp" alt="intro2" class="img-fluid" />
  </div>

  <div class="mb-3">
    Trong trò chơi, người chơi sẽ trao đổi thông tin với nhau, nhưng không bằng
    cách show hết các thẻ bài ra, do đó tăng tính tương tác giữa những người
    chơi. Người chơi sẽ tự cảm nhận các tình tiết và mô tả lại cho những người
    đồng đội của mình. Hãy cẩn trọng các chi tiết dù là nhỏ nhất, vì đó có thể
    là lối mở đi đến thành công cho chuyến du hành của bạn.
  </div>
  <div class="mb-3">
    Với mỗi tình tiết trong game, người chơi được tự mình quyết định cách thức
    mình sẽ xử lý, nhờ đó mang lại trải nghiệm nhập vai rất tốt. Nhưng nên nhớ
    đây là một trò chơi đồng đội, và những sai lầm thì nên được hạn chế trong
    quá khứ, nên hãy lựa chọn thật kỹ và khôn ngoan.
  </div>

  <div class="mb-3">
    Mặc dù là một game giải đố, nhưng với việc những người chơi chỉ có thể du
    hành thời gian với những điều kiện nhất định, và mỗi hành động đều sẽ khiến
    bạn mất thời gian du hành có hạn, sẽ không dễ để bạn có thể hiểu và đi qua
    cốt truyện của game chỉ với 1 lần chơi. Nhưng sau mỗi lần thất bại, bạn sẽ
    hiểu thêm về những câu chuyện đã xảy ra trong quá khứ, và có những lựa chọn
    khôn ngoan hơn cho những lần trở lại sau đó. Và bạn cũng sẽ biết nên nhập
    vào nhân vật nào để có thể tiến trình tốt hơn với những sự kiện đó - ví dụ,
    bạn biết sẽ phải chiến đấu nhiều, có thể bạn sẽ muốn lựa chọn nhân vật với
    kỹ năng chiến đấu cao, hoặc nhiều máu…Mỗi lần du hành quá khứ, bạn sẽ luôn
    học được thêm một điều gì đó.
  </div>
  <div class="d-flex justify-content-center mb-3">
    <img src="/img/space4.png" alt="intro4" class="img-fluid" />
  </div>

  <div class="mb-3">
    Một yếu tố thú vị đến từ hộp game với hệ thống organizer cho phép bạn có thể
    save game, để tiếp tục trải nghiệm vào lần chơi tiếp theo. Do đó bạn sẽ
    không cần phải bận tâm về việc chơi dở chừng.
  </div>

  <div class="d-flex justify-content-center mb-3">
    <img src="/img/space5.jpg" alt="intro5" class="img-fluid" />
  </div>

  <div class="mb-3">
    Một lối chơi tận hưởng cốt truyện, những cuộc hành trình đầy rẫy những điều
    bất ngờ, điều đó lý giải tại sao T.I.M.E Stories lại nhận được sự yêu thích
    của những người chơi board game, và cũng là lý do giúp game được nhà phát
    hành liên tục ra mới các sản phẩm để tiếp tục phát triển series. Và nếu như
    White Cycle vẫn là chưa đủ, thì Blue Cycle Revolution vẫn đang được phát
    triển để ra mắt trong năm 2020 này để phục vụ bạn. Mặc dù cũng là một dạng
    game trải nghiệm (gần như) một lần giống như series Unlock, nhưng nhất định
    T.I.M.E Stories sẽ khiến bạn cảm thấy hài lòng với những tình tiết mà game
    mang lại.
  </div>
  <div class="d-flex justify-content-center mb-3">
    <img src="/img/space6.png" alt="intro6" class="img-fluid" />
  </div>
  <div class="mb-3">
    Hãy du hành thời gian, quay ngược về quá khứ, học hỏi, và hoàn thành những
    nhiệm vụ được giao phó. Và biết đầu, bạn sẽ nhận ra những sự thật không thể
    ngờ tới trong những nhiệm vụ đó thì sao?
  </div>
  <div class="mb-3">
    Đặt mua ngay tại: <a href="/product-detail?id=39">Đây</a>
  </div>
  <div>Duy</div>
</div>

<br />
