body{
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Roboto Slab', serif;
}
.menu-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #461A42;
    padding: 10px 25px;

}
.logo{
    font-family: 'Risque', cursive;
    color: white;
    font-size: 2.5em;
}
.menu li {
    list-style: none;
}
.menu li button{
    font-size: 1.5em;
    background-color: #E7BDCD;
    font-family: 'Risque', cursive;
}
.page-title{
    display:flex;
    width: 50%;
    background-color: #fff;
    margin: 25px auto;
}
.page-title img{
    width: 60%;
    flex-shrink: 0;
}
.page-title .text{
    padding-left: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 2em;
}
.title h1{
    font-family: 'Risque', cursive;
}
.content{
    --spacing: 15px;
    --columns: 3;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    padding: 25px;

}

@media screen and (max-width: 1023px) {
    .content {
      --columns: 1;
    }
    .page-title{
        width: 100%;
    }
  }
@media screen and (max-width: 767px) {
    .content {
      --spacing: 15px;
      --columns: 1;
    }
  }

.question{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 1.2rem;

}
.q-head{
    padding: 0 10px;
    border-bottom: #999 solid 1px;
}
.num{
    font-size: 80%;
    font-style: italic;
}
.q-test{
    padding: 0 10px;
}
.q-ans{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
}
.ans{
    display: block;
    width: calc(50% - 45px);
    cursor: pointer;
    padding-left: 35px;
    position: relative;
    float: left;
    padding-bottom: 15px;
}
.ans input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.q-check{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.q-check:after {
    content: "";
    position: absolute;
    display: none;
}
.ans input:checked ~ .q-check:after {
    display: block;
}
.ans:hover input ~ .q-check {
    background-color: #ccc;
}
.ans input:checked ~ .q-check {
    background-color: #461A42;
}
.ans .q-check:after {
top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}

.loginform{
    position: absolute;
    background-color: white;
    display: none;
    width: 300px;
    left: 43%;
    top: 40%;
    border: solid;
    padding: 5px;
}
.login-title{
    font-family:  'Righteous'; 
    color: #5C5D82;
    font-size: 25px;
    padding-left: 50px;
}
.fillform{
    display: grid;
    row-gap: 5px;
}
.login-btn{
    width: 100px;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #C4C4C4;
    border: none;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body > div.loginform > form > div:nth-child(3) > span{
    color: #A1A1A1;
}
body > div.loginform > form > div:nth-child(1) > span{
    color: #A1A1A1;
}
body > div.loginform > form > input[type=text]:nth-child(2){
    border-color: solid #A1A1A1;
}
body > div.loginform > form > input[type=password]:nth-child(4){
    border-color: solid #A1A1A1;
}