<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/banner1.webp" alt="banner1" />
    </div>
    <div class="carousel-item" id="avalon">
      <img src="/img/banner2.webp" alt="banner2" />
    </div>
    <div class="carousel-item" id="matngu">
      <img src="/img/banner3.webp" alt="banner3" />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="fs-3 text-start ms-3 mb-2">Tin nổi bật</div>
<div class="container-fluid ms-3">
  <div class="row">
    <div class="card p-0 me-4" id="azul" style="width: 18rem">
      <img src="/img/azur3.png" class="card-img-top" alt="intro" />
      <div class="card-body">
        <h5 class="card-title">
          Azul: Summer Pavilion - Liệu có vượt qua được người tiền nhiệm?
        </h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: small">
          Đăng lúc 17:10 20/11/2021
        </h6>
        <p class="card-text" style="font-size: small">
          Azul Summer Pavilion là tựa game thứ 3 trong series Azul đến từ Next
          Move Games, bởi tác giả Michael Kiesling, và liệu game có thể vượt qua
          người tiền nhiệm Azul?
        </p>
      </div>
    </div>

    <div class="card p-0 me-4" id="space" style="width: 18rem">
      <img src="/img/space5.jpg" class="card-img-top" alt="intro" />
      <div class="card-body">
        <h5 class="card-title">
          Studio Của Tháng: SPACE Cowboys - T.I.M.E Stories
        </h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: small">
          Đăng lúc 20:00 18/11/2021
        </h6>
        <p class="card-text" style="font-size: small">
          Cùng tìm hiểu series game du hành thời gian đến từ studio SPACE
          Cowboys
        </p>
      </div>
    </div>

    <div class="card p-0 me-4" id="sieuthu" style="width: 18rem">
      <img src="/img/sieuthu1.jpg" class="card-img-top" alt="intro" />
      <div class="card-body">
        <h5 class="card-title">
          Thổi Bay Nhàm Chán Cùng Siêu Thú Ngân Hà Khi Ở Nhà Mùa Dịch
        </h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: small">
          Đăng lúc 8:00 15/11/2021
        </h6>
        <p class="card-text" style="font-size: small">
          Nhằm tiếp thêm "vitamin năng lượng" cho các gia đình Việt, chúng mình
          xin gửi tặng chiếc khẩu trang siêu thú phiên bản giới hạn kèm mỗi đơn
          hàng đặt mua board game Siêu Thú Ngân Hà.
        </p>
      </div>
    </div>

    <div class="card p-0 me-4" id="top10" style="width: 18rem">
      <img src="/img/top10.webp" class="card-img-top" alt="intro" />
      <div class="card-body">
        <h5 class="card-title">
          10 Bộ Board Game Giải Trí Dễ Chơi Cho Cả Gia Đình
        </h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: small">
          Đăng lúc 2:00 15/11/2021
        </h6>
        <p class="card-text" style="font-size: small">
          Chơi boardgame sau bữa tối là một cách tuyệt vời để đến gần gia đình
          hơn, đồng thời tăng cường mối quan hệ gia đình của bạn. Vừa giúp tăng
          khả năng suy luận và kích thích sự phát triển trí tuệ
        </p>
      </div>
    </div>
  </div>
</div>

<script src="/script/news.js"></script>
<script src="/script/ad.js"></script>
